* {
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: medium;
  font-style: italic;
  background-color:rgb(210, 227, 244);
}

#barraEsq {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(34, 4, 56);
  overflow-x: hidden;
  padding-top: 20px;
}

#barraDir {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(34, 4, 56);
  overflow-x: hidden;
  padding-top: 20px;
}

#titulo {
  width: fit-content;
  margin: auto;
  margin-top: 150px;
  font-size: xx-large;
}
#subtitulo {
  margin: auto;
  margin-top: 5px;
  width: fit-content;
  margin-right: auto;
  font-size: larger;
}

#cadastro {
  margin: auto;
  margin-top: 8px;
  width: fit-content;
}